$base-font-size: 16;

$primaryColor: #4C1F7A;
$secondaryColor: #219B9D;
$tertiaryColor: #394989;
$backgroundColor: #EEEEEE;
$backgroundColor2: #fff;
$fontColor: #fff;
$contrastColor: #FF8000;
$box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);